Source: bunsen-keyring
Section: misc
Priority: optional
Maintainer: John Crawley <john@bunsenlabs.org>
Standards-Version: 4.5.1
Build-Depends: debhelper (>= 10~)
Homepage: https://github.com/BunsenLabs/bunsen-keyring
Vcs-Browser: https://github.com/BunsenLabs/bunsen-keyring
Vcs-Git: https://github.com/BunsenLabs/bunsen-keyring.git


Package: bunsen-keyring
Architecture: all
Multi-Arch: foreign
Depends: gpgv, ${misc:Depends}
Recommends: gnupg
Description: BunsenLabs GnuPG archive key
 Provides the archive key used on *.pkg.bunsenlabs.org mirrors.
